<div class="footer-color container-fluid flex-grow-1 flex-shrink-0">
  <div class="row py-3">
    <div class="col-lg-12 mx-auto text-white text-center">
      <h1 class="display-5">All rights reserved ®Antoine-MORENO-DEV</h1>
      <p class="lead mb-0">I hope you will enjoy your trip here</p>
    </div>
  </div>