<div class="col-12 text-center my-3">
    <h2>Concepteur Développeur d'Applications en cours de formation </h2>
</div>

<div class="col-12 text-center my-5">
    <h3>Compétences</h3>
</div>

<p>Pour télécharger, c'est <a href="../../assets/CV Antoine MORENO - Développeur d'applications.pdf"
        target="_blank">ICI</a></p>


<div class="row d-flex">
    <!-- Card Language -->
    <div class="col-12 col-md-6 d-flex">

        <div class="card mb-5 w-100">
            <div class="card-header">
                Languages
            </div>
            <div class="card-body">
                <h5 class="card-title">Voici tout les languages sur lesquels j'ai pu coder</h5>
                <div *ngFor="let item of language">
                    <p class="card-text">- {{item.name}} <img [src]=[item.logo] class="logo"></p>
                </div>
            </div>
        </div>


    </div>
    <!-- Card Framework -->
    <div class="col-12 col-md-6 d-flex">

        <div class="card mb-5 w-100">
            <div class="card-header">


                Framework
            </div>
            <div class="card-body">
                <h5 class="card-title">Les framework utilisés</h5>
                <div *ngFor="let item of framework">
                    <p class="card-text">- {{item.name}} <img [src]=[item.logo] class="logo"></p>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row d-flex">
    <!-- Card Database -->
    <div class="col-12 col-md-6 d-flex">

        <div class="card mb-5 w-100">
            <div class="card-header">
                Database
            </div>
            <div class="card-body">
                <div *ngFor="let item of database">
                    <p class="card-text">- {{item.name}} <img [src]=[item.logo] class="logo"></p>
                </div>
            </div>
        </div>


    </div>
    <!-- Card Misc -->
    <div class="col-12 col-md-6 d-flex">

        <div class="card mb-5 w-100">
            <div class="card-header">
                Misc
            </div>
            <div class="card-body">
                <div *ngFor="let m of misc">
                    <p class="card-text">- {{m.name}} <img [src]=[m.logo] class="logo"></p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Formation Part-->
<div class="col-12 text-center my-5 text-center">
    <h3 class="mb-5">Formation</h3>
</div>
<!-- <div class="d-flex justify-content-center flex-column"> -->

<div *ngFor="let form of formation">

    <p class="title-bold mb-0"> {{form.name}} </p>
    <p class="mt-0 grey-font">{{form.beginDate}} - {{form.endDate}} </p>

    <div *ngFor="let item of form.details">
        <p>{{item}}</p>
    </div>
</div>


<!-- Experience Part -->


<div class="col-12 text-center my-5 text-center">
    <h3 class="mb-5">Expérience Profesionnelle</h3>
</div>
<div *ngFor="let exp of experience">
    <p class="title-bold mb-0"> {{exp.name}} </p>
    <p class="mt-0 grey-font">{{exp.beginDate}} - {{exp.endDate}} </p>

    <div *ngFor="let item of exp.details">
        <p>{{item}}</p>
    </div>
</div>