.project-link {
    padding: 5px;
    border-bottom: 2px solid black;
}

.project-link:hover {
    scale: 1.2;
    transition: .5s;
}

.text-decoration-none {
    text-decoration: none;
    color: black;
}