<div class="col-12 d-flex justify-content-center my-3">
    <div class="row col-12 col-md-8 d-flex">
        <div class="col d-flex justify-content-center" *ngFor="let proj of projects">
            <a routerLink={{proj.url}} class="text-decoration-none project-link">{{proj.name}}</a>
        </div>
    </div>
</div>

